In [1]:
import pandas as pd

In [26]:
import numpy as np

In [2]:
train = pd.read_csv("D:/Projects/Inoplex Hackothan Save Lives with AI/train_innoplexus/train.csv")

In [4]:
test = pd.read_csv("D:/Projects/Inoplex Hackothan Save Lives with AI/test_innoplexus/test.csv")

In [18]:
train.columns

Index(['id', 'Doc_ID', 'Sent_ID', 'Word', 'tag'], dtype='object')

In [29]:
train.head()

   id  Doc_ID  Sent_ID           Word tag
0   1       1        1        Obesity   O
1   2       1        1             in   O
2   3       1        1           Low-   O
3   4       1        1            and   O
4   5       1        1  Middle-Income   O

In [14]:
train['tag'].describe(include = 'all')

count     4543833
unique          3
top             O
freq      4446206
Name: tag, dtype: object

In [15]:
pd.unique(train['tag'].values)

array(['O', 'B-indications', 'I-indications'], dtype=object)

In [25]:
pd.unique(train['Word'].values)

array(['Obesity', 'in', 'Low-', ..., 'NRSMC', 'radiolabelling', '-valine'],
      dtype=object)